p.pass{
    border: solid 2px green;
    border-radius: 6px;
    color: black;
    background-color: lightgreen;
    text-decoration: double;
    width: 100%;

}

p.error{
    border-radius: 6px;
    border: solid 2px red;
    background-color: pink;
    color: black;
    text-decoration: double;
    width: 100%;
}