body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.button {
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: #007bff;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 100px;
    margin: 10px;
    text-decoration: none;
}

#loginForm {
    width: 300px; /* zmniejszona szerokość */
    height: 150px; /* zmniejszona wysokość */
}

#loginForm form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#loginForm input {
    width: 100%;
    height: 30px; /* zmniejszona wysokość */
    margin-bottom: 10px;
}